.container {
    display: grid;
    grid-template-rows: var(--premisFooterLogoHeight) 2fr;   
}

.container > h2 {
    align-self: end;
    margin: 0; /* Remove default margin for h2 tag */
    font-size: 1.5vw;
    padding-bottom: var(--footerMatchLogoPadding);
}

.logos {
    display: flex;
    flex-direction: row;
    margin-top: var(--footerMarginBetweenHeadingAndContent);
}

.logos > :nth-child(1) {
    margin: 0px;
}

.logos > * {
    margin-left: 20px;
}

.logos > *:hover {
    cursor: pointer;
}