.container {
    display: grid;
    grid-template-rows: var(--premisFooterLogoHeight) 2fr;   
}

.container > h2 {
    align-self: end;
    margin: 0; /* Remove default margin for h2 tag */
    padding-bottom: var(--footerMatchLogoPadding);
}

.container > h2 ~ p {
    color: var(--footerFontColor);
    font-size: var(--footerFontSize);
    margin-top: 30px;
}


