.container {
    margin: 1vw;
}

.image {
    width: 100%;
}

.container :hover {
    cursor: pointer;
}

.type > p {
    color: goldenrod;
    font-weight: bolder;
}

.body {
    font-size: 10pt;
}

