.container {
    margin: 1vw;
}

.image {
    width: 100%;
}

.container :hover {
    cursor: pointer;
}

.type > h3 {
    color: goldenrod;
    font-weight: bolder;
    font-size: 1em;
}

.title > h2 {
    font-size: 1.5em;
}

.body > p {
    font-size: 0.7em;
}

.date > p {
    font-size: 0.9em;
}

