.container {
    background-image: url(../../assets/img/hero1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; /* Keep on top along the y-axis, no second value implies center along x-axis */
    
    display: grid;
    grid-template-columns: 120px auto 50px 120px;
    grid-template-rows: 50px auto 50px 200px;
    grid-template-areas: 
    ". . ."
    ". header ."
    ". arrow ."
    ". . ."
}

.navBar {
    grid-area: header;
}
  
.arrowContainer {
    grid-area: arrow;
    color: white;
    text-align: center;
}

.arrow {
    height: 40px;
}