.container {
    background-image: url(../../assets/img/hero1.png);
    background-size: contain; 
    background-repeat: no-repeat; 
    
    /* Magic number to make cover photo span whole width and scale to all devices */
    height: 70vw; 

    display: grid;
    grid-template-rows: 2fr 1fr;
}

.arrowContainer {
    color: white;
    text-align: center;
}

.arrow {
    height: 1.5em;
}

.arrowContainer :hover {
    cursor: pointer;
}