.container {
    margin: 6vw 6vw 0 6vw; 
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.links {
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
}

.links > * {
    padding-right: 3em;
}


.facebookLogo {
    align-self: center;
    text-align: center;
}