.container {
    display: grid;
    grid-template-columns: 50px auto 500px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
        "premis . links facebook";
}

.premisLogo {
    grid-area: premis;
}

.links {
    color: white;
    font-weight: bolder;
    grid-area: links;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.facebookLogo {
    grid-area: facebook;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}