.container {
    display: grid;
    grid-template-rows: var(--premisFooterLogoHeight) 2fr;   
    margin-left: 2px;
}

.text > p {
    margin: 5px 0;
    font-size: var(--footerFontSize);
    color: var(--footerFontColor)
}

.text > p:first-child {
    margin-top: 30px;
}
