.container > * {
    justify-self: stretch;
}

/* Common desktop and laptop resolution along with older desktop sizes */
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin-left: 1vw;
    }
    
    .container > * {
        margin: 20vh 0 20vh 0;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-left: 1vw;
    }

    /* add margin top to first two footer elements */
    .container > *:nth-child(-n+2) {
        margin-top: 10vh;
    } 
    
    /* add margin bottom to the last two footer elements */
    .container > *:nth-last-child(-n+2) {
        margin-bottom: 10vh;
    }

    .container > * p {
        font-size: 10pt;
    }

    .container > * h2 { 
        font-size: 14pt;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* add margin top to the first footer element */
    .container > *:first-child {
        margin-top: 10vh;
    }

    /* add margin bottom to the last footer element  */
    .container > *:nth-last-child(-n+1) {
        margin-bottom: 10vh;
    }

    .container > * p {
        font-size: 10pt;
    }

    .container > * h2 {
        font-size: 14pt;
    }
}

