.container {
  margin: 0;
  display: grid;
  height: calc(100vh * 5);
  grid-template-rows: 5fr 12fr 2fr;
}


.header {
  background-image: url(./assets/img/hero1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; /* Keep on top along the y-axis, no second value implies center along x-axis */
  
  display: flex;

}

.header-icon {
  font-size: 34px;
}